<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>
  <connectionStrings>
    <!--<add name="DBConnectionString" connectionString="Data Source=RAKESH-PC;Initial Catalog=EnterpriseApp;User ID=sa;Password=DemoApp1*" providerName="System.Data.SqlClient" />-->
  <add name="DBConnectionString" connectionString="CxbCIrR9d0O/3xBJzm2SECUKobvxpLmY4lbOFJSgykR98bc627E3dwbg1rwLiF/aXjiuIlmLz7+RwzlAvjo4HkorTQdpfCHz0FB/ceEJ9Raf89Qebsu5og==" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>